/* You can add global styles to this file, and also import other style files */

html {
    overflow-x: hidden;
}

body {
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    background-color: cadetblue;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
strong,
span,
small {
    display: inline-block;
}

ul {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:focus {
    color: #000;
}

.container {
    max-width: 1330px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    font-size: 22px;
}

.btn {
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

.content-wrapper {
    width: calc(100% - 60px);
    margin-left: 60px;
}